@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  
  background: black;
  text: white;
  font-family: 'Roboto Condensed', sans-serif!important;
}

a {
  /* color: inherit; */
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}