.nav {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: black;
  color: white;
}

.nav-item:hover {
  cursor: pointer;
}

.kat-homelink {
  height: 50px;
  width: 100vw;
  display: flex;
  padding: 20px;
  background: black;
  color: white;
  font-size: 2.5rem;
}
