.nav {
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-item:hover {
    cursor: pointer;
}

.mobile-nav {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
