#subpage {
    background-color: black;
    color: white;
}

.subpage-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.image {
    width: 500px; /* temp width */
  height: 375px; /* temp height */
    margin: 20px auto;
}